<h1>Kartoffel Chat</h1>

<a href="/auth/github" title="Sign in with Github" style = "float:right" >Sign in with Github</a>

<%= form_for(@message) do |f| %>
  <%= f.text_area :content, autofocus: true %>
  <%= f.submit "Send" %>
<% end %>


<ul id="chat">
  <% @messages.each do |message| %>
  	<li>
      <img class="avatar" />
  		<span class="user">Potato sagt:</span>
  		<span class="timestamp">
  			<%= time_ago_in_words(message.created_at) %> ago
  		</span>
  		<span class="message"><%= message.content %></span>
  	</li>
  	<% end %>
</ul>


