<h1>Chat</h1>

<%= form_for(@message) do |f| %>
  <%= f.text_field :content, autofocus: true %>
  <%= f.submit "Send" %>
<% end %>


<ul id="chat">
  <% @messages.each do |message| %>
  	<li>
  		<span class="user">Potato</span>
  		<span class="timestamp">
  			<%= time_ago_in_words(message.created_at) %> ago
  		</span>
  		<%= message.content %>
  	</li>
  	<% end %>
</ul>
